@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Outfit:wght@200;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden;
}


/*welcomeSection*/

.title {
    font-size: 3rem;
    font-weight: 200 !important;
    display: block;
}

.welcomeSection .title {
    max-width: 70%;
}

.welcomeSection .titleHolder {
    display: flex;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.welcomeSection .welcome-bgcanvas {
    position: absolute;
    top: 0;
    z-index: -1;
    /*background: #c2e59c;
    /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #64b3f4, #c2e59c);*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*-----------------------------*/


/*Buttons*/

.btn {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    background: transparent;
    border: solid 2px black;
    font-size: 1.4rem;
    border-radius: 2rem;
    padding: 0.5rem;
}

.btn:hover {
    background: black;
    color: white;
}

.btn-filled {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    background: chartreuse;
    border: 2px solid transparent;
    color: black;
    font-size: 1.4rem;
    border-radius: 2rem;
    padding: 0.5rem;
}

.btn-filled:hover {
    background: transparent;
    border: solid 2px chartreuse;
    color: chartreuse;
}


/*------------------*/


/*header*/

header {
    position: absolute;
    width: 100%;
    top: 1rem;
    z-index: 5;
    transition: 0.2s ease-in-out;
}


/*navbar*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar p {
    font-size: 1.3rem;
    font-weight: 400;
    display: inline-block;
    margin-right: 1rem;
}

.navbar .navbar-logo {
    font-size: 1.5rem;
    margin-right: 16rem;
}

.navbar .btn {
    font-size: 1.3rem;
    border-width: 1px;
}

.navbar .active {
    color: rgb(219, 219, 219);
}


/*navbar awake*/

nav.awake {
    transition: 0.2s ease-in-out;
    background-color: rgb(37, 37, 37);
    color: white;
}

header.awake {
    position: fixed;
    top: 0;
}

.awake .active {
    color: chartreuse
}

.awake .btn {
    color: white;
    border-color: white;
}


/*images section*/

.imagesSection {
    background: rgb(48, 48, 48);
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.imagesSection .imgHolder {
    width: min-content;
    height: min-content;
    transition: 0.25s ease-in-out;
}


/*WIDTH OF IMAGE*/

.imagesSection .img {
    height: auto;
    width: 21vw;
    /*border: 6px solid black;
    border-radius: 2rem;
    */
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 2;
}


/*Bottom of image*/

.imagesSection .imgBottom {
    display: flex;
    position: relative;
    padding: 1rem;
    background: black;
    border-radius: 0 0 8px 8px;
    z-index: 1;
    transform: translateY(-100px);
    transition: 0.25s ease-in-out, opacity 0.25s cubic-bezier(0, 0, 0, 1);
    opacity: 0;
}

.imagesSection .profileImg {
    width: 60px;
    border-radius: 50px;
    margin-right: 1rem;
}

.imagesSection .imgBottom .portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.imagesSection .imgBottom .portfolio .role {
    font-size: 0.9rem;
    color: rgb(161, 161, 161);
}

.imagesSection .imgBottom .portfolio .name {
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
}


/*---------------------------------------*/

.imagesSection .imgUpper {
    padding: 1rem;
    background: rgb(0, 0, 0);
    position: relative;
    border-radius: 8px 8px 0 0;
    z-index: 1;
    transform: translateY(100px);
    transition: 0.25s ease-in-out, opacity 0.25s cubic-bezier(0, 0, 0, 1);
    opacity: 0;
}

.imagesSection .imgUpper .description-name {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: white;
}

.imagesSection .imgUpper .description {
    margin: 0;
    font-size: 0.8rem;
    color: rgb(161, 161, 161);
}

.imagesSection .imgHolder:hover {
    transition: 0.25s ease-in-out;
    transform: scale(1.1);
    z-index: 3;
}

.imagesSection .imgHolder:hover .imgBottom {
    transition: 0.25s ease-in-out, opacity 0.25s cubic-bezier(1, 0, 1, 1);
    transform: translateY(0px);
    opacity: 1;
}

.imagesSection .imgHolder:hover .imgUpper {
    transition: 0.25s ease-in-out, opacity 0.2s cubic-bezier(1, 0, 1, 1);
    transform: translateY(0px);
    opacity: 1;
}


/*imgGrid*/

.imgGrid {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 23vw 23vw;
    grid-template-areas: "Left UpLeft UpRight Right" "Left BotLeft BotRight Right";
    align-items: center;
    justify-items: center;
    transform: translateY(-5rem);
}

.imgGrid .Left {
    grid-area: Left;
}

.imgGrid .Right {
    grid-area: Right;
}

.imgGrid .UpLeft {
    grid-area: UpLeft;
}

.imgGrid .UpRight {
    grid-area: UpRight;
}

.imgGrid .BotLeft {
    grid-area: BotLeft;
}

.imgGrid .BotRight {
    grid-area: BotRight;
}


/*----------------*/


/*UI Description*/

.UIDescription {
    color: white;
    font-size: 3rem;
    font-weight: 200;
    width: 65vw;
    text-align: center;
    text-overflow: clip;
}

.UIDescription strong {
    color: chocolate;
    background: rgba(255, 68, 0, 0.068);
    box-shadow: 0 0 0.4rem 0.4rem rgba(255, 68, 0, 0.068);
    border-radius: 2rem;
}

.imagesSection .btn-filled {
    font-size: 1.4rem;
    padding: 0.9rem;
    margin-bottom: 8rem;
}


/*--------------------------*/


/*iconSection*/

.iconsSection {
    height: 100vh;
    color: rgb(218, 240, 240);
    background: #212424;
    display: flex;
    justify-content: center;
    align-content: center;
}

.iconsSection .upText {
    color: #444444;
    margin-top: 10rem;
    text-align: center;
    letter-spacing: 2px;
}

.iconsSection .mainText {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.iconsSection .bottomText {
    text-align: center;
    font-size: 1.1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    margin-bottom: 7.5rem;
    color: rgb(104, 104, 104);
}

.icon {
    width: 6.5rem;
    margin-left: auto;
    margin-right: auto;
}

.icon-holder {
    display: flex;
    margin-bottom: 1.5rem;
}

.iconBlocks {
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.iconBlock {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.iconBlock .name {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.iconBlock .description {
    color: rgb(71, 85, 110);
    text-align: center;
    font-size: 1.1rem;
    line-height: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/*----------------*/


/*Subscribe to news*/

.subscribeSection {
    width: 100%;
    display: flex;
    height: 60vh;
    background: linear-gradient( 90deg, #64b3f4, #c2e59c);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribeSection .title {
    margin-bottom: 2rem;
}

.subscribeSection .description {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    width: 45%;
    color: #535353;
    margin-bottom: 2rem;
}

.subscribeSection .input {
    font-size: 1.2rem;
    border-radius: 2rem;
    padding: 1rem;
    border: 1px solid black;
    outline: none;
    background: transparent;
}

.subscribeSection .input::placeholder {
    color: #212424
}


/*workSection*/

.workSection {
    height: min-content;
    color: rgb(218, 240, 240);
    background: #212424;
    display: flex;
    flex-direction: column;
}

.workSection .upText {
    color: #444444;
    margin-top: 10rem;
    text-align: center;
    letter-spacing: 2px;
}

.workSection .mainText {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.workSection .bottomText {
    text-align: center;
    font-size: 1.1rem;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    margin-bottom: 7.5rem;
    color: rgb(104, 104, 104);
}

.workSection .workBlock.reversed {
    flex-direction: row-reverse;
}

.workSection .workBlock.reversed .img {
    box-shadow: -20px 20px #c2e59c;
    margin-left: 0;
    margin-right: 10rem;
}

.workSection .workBlock.reversed .text-holder {
    margin-right: 3rem;
    margin-left: 10rem;
}

.workSection .workBlock {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
}

.workSection .workBlock .img {
    width: 30rem;
    height: 30rem;
    margin-left: 10rem;
    box-shadow: 20px 20px #c2e59c;
}

.workSection .workBlock .text-holder {
    margin-top: 4rem;
    margin-right: 10rem;
    margin-left: 3rem;
    max-width: 25vw;
}

.workSection .workBlock .upText {
    font-size: 0.8rem;
    text-align: left;
    margin-top: 0;
    width: auto;
    color: #535353;
}

.workSection .workBlock .mainText {
    text-align: left;
    margin-left: 0;
    width: auto;
    font-size: 2rem;
    font-weight: 400;
}

.workSection .workBlock .bottomText {
    text-align: left;
    margin-left: 0;
    width: auto;
    margin-bottom: 2rem;
}

.workSection .workBlock .btn-filled {
    font-size: 1.2rem;
}

.workSection .btn-filled.bottomBtn {
    padding: 1.2rem;
    font-size: 1rem;
    width: 15rem;
    align-self: center;
    margin-bottom: 8rem;
}


/*customersSection*/

.customersSection {
    height: 100vh;
    color: rgb(218, 240, 240);
    background: #212424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #2e2e2e;
}

.customersSection .upText {
    color: #444444;
    margin-top: 10rem;
    text-align: center;
    letter-spacing: 2px;
}

.customersSection .mainText {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.customersSection .bottomText {
    text-align: center;
    font-size: 1.1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    margin-bottom: 7.5rem;
    color: rgb(104, 104, 104);
}

.card-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-scroller {
    display: flex;
    flex-direction: row;
}

.card-scroller .card .icon-holder {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.card-scroller .card .img-bottom-circle {
    position: absolute;
    top: calc(50% + 0.2rem);
    left: calc(50% + 0.2rem);
    display: block;
    width: 2.2rem;
    height: 2.8rem;
    border-radius: 100%;
    background: #e9e646;
    text-align: center;
    color: black;
    font-weight: 800;
    font-size: 3.1rem;
    margin-top: 0;
    padding-right: 0.8rem;
    padding-top: 0.2rem;
}

.card-scroller .card {
    background: #353535;
    display: flex;
    flex-direction: column;
    width: 23rem;
    text-align: center;
    padding: 2rem 0 3.5rem 0;
    box-shadow: 5px 5px 15px #414141;
    margin-right: 2rem;
}

.card-scroller .card .iconimg {
    align-self: center;
    border-radius: 100%;
    width: 7rem;
    margin-bottom: 1rem;
}

.card-scroller .card .text {
    align-self: center;
    width: 80%;
    margin-bottom: 3rem;
    font-size: 1.1rem;
    font-weight: 300;
}

.card-scroller .card .name {
    font-size: 1.1rem;
    color: #c2e59c;
    margin-bottom: 1rem;
}

.card-scroller .card .profession {
    font-weight: 300;
    font-size: 0.9rem;
    color: #c2e59c;
}